html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #0d0d18;
  font-family: Montserrat, sans-serif;
}

main {
  flex: 1 1 auto;
}

section {
  height: 100%;
  background: linear-gradient(
    109.6deg,
    rgb(15, 3, 3) 11.2%,
    rgb(11, 23, 36) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 15px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    padding: 30px;
  }
}

::-webkit-scrollbar {
  width: 14px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
::-webkit-scrollbar-track {
  background-color: #08090f;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(32, 32, 32);
  border-radius: 0.2rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #0d0d18 inset !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  color: inherit;
  font-size: inherit;
  background-color: transparent;
}
input {
  border: none;
  outline: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
